--find-links https://download.pytorch.org/whl/torch_stable.html
elasticsearch==8.15.1
fastapi== 0.111.0

google-generativeai==0.8.1
gunicorn==23.0.0
jinja2==3.1.4
lxml_html_clean==0.2.0
nltk==3.8.1
numpy==1.26.4
opencv-python>=4.7
opencv-python-headless
Pillow>=9.3.0
pydantic==2.7.4
python-dotenv==1.0.1
python-multipart==0.0.9
pytesseract>=0.3.10
RapidFuzz==3.10.0
requests==2.31.0
transformers==4.41.2
torch==2.3.1+cpu
setuptools==69.5.1
sumy==0.11.0
tiktoken==0.7.0
uvicorn==0.30.1
wheel==0.44.0   

